body {
    font: 1em sans-serif;
    width: 200px;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

  }
  
  p * {
    display: block;
  }
  
  input {
    appearance: none;
  
    width: 100%;
    border: 1px solid #333;
    margin: 0;
  
    font-family: inherit;
    font-size: 90%;
  
    box-sizing: border-box;
  }
  
  /* This is our style for the invalid fields */
  input:invalid {
    border-color: #900;
    background-color: #fdd;
  }
  
  input:focus:invalid {
    outline: none;
  }

  /* Use placeholder to remove invalid styling from empty fields */
  input:placeholder-shown{
    border: 1px solid #333;
    background-color: rgb(252, 252, 252);

  }

  
  /* This is the style of our error messages */
  .error {
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
  }

  form {
    margin-top: 12vh;
  }

  form > button {
    width: 100%;
  }
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 350px;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  .hidden {
    display: none;
  }

  button {
    cursor: pointer;
    border: none;
    font-weight: 600;
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    width: 150px;
  }